@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  --very-light-gray-blue: hsl(240, 78%, 98%);
  --light-gray-blue: hsl(234, 14%, 74%);
  --gray-blue: hsl(233, 13%, 49%);
  --dark-gray-blue: hsl(232, 13%, 33%);
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-light-gray-blue);
  color: var(--dark-gray-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 2;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

.bg-1 {
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg-2 {
  background-image: url(./images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding-top: 40px;
}

.hero-title {
  text-align: center;
  color: var(--gray-blue);
  margin-bottom: 20px;
}

.toggle-button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-button-section .p-name {
  margin: 0 20px;
  color: var(--light-gray-blue);
}

.bg-primary {
  background: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to bottom right, #a3a8f0 0%, #696fdd 100%);
  color: #fff;
}

.onoffswitch {
  position: relative;
  width: 55px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  margin-bottom: 0;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in 0s;
  transition: margin 0.2s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 31px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  content: "";
  background: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to bottom right, #a3a8f0 0%, #696fdd 100%);
}

.onoffswitch-switch {
  display: block;
  width: 23px;
  height: 23px;
  margin: 4px !important;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 24px;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.pricing-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

.pricing-component .card {
  width: 350px;
  text-align: center;
  padding: 30px 30px 30px 45px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 30px 0px rgba(105, 111, 221, 0.15);
          box-shadow: 0 5px 30px 0px rgba(105, 111, 221, 0.15);
}

.pricing-component .card:first-child {
  padding: 30px 45px 30px 30px;
}

.pricing-component .card.bg-primary {
  width: 310px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-size: 90%;
  padding: 40px 30px 30px;
}

.pricing-component .card .monthly,
.pricing-component .card .annually {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-component .card h1 {
  font-size: 4rem;
}

.pricing-component .card .dollar {
  font-size: 2rem;
  margin-right: 5px;
}

.pricing-component .card p {
  border-bottom: 1px solid #cfd0de;
  padding: 10px;
}

.pricing-component .card p:first-child {
  border-top: 1px solid #cfd0de;
}

.pricing-component .card p:last-child {
  margin-bottom: 30px;
}

.btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to bottom right, #a3a8f0 0%, #696fdd 100%);
  color: #fff;
  outline: none;
  border: 0;
  width: 100%;
  padding: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn:hover {
  background: transparent;
  color: var(--gray-blue);
  border: 1px solid var(--gray-blue);
}

.bg-primary .btn {
  background: #fff;
  color: #696fdd;
  font-size: 80%;
}

.bg-primary .btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.hide {
  display: none !important;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-text span {
  font-size: 11px;
}

footer .attribution {
  font-size: 11px;
}

footer .attribution a {
  color: #3e52a3;
}

@media (max-width: 768px) {
  .bg-1 {
    width: 250px;
    background-size: contain;
    right: -65px;
  }
  .bg-2 {
    width: 250px;
    background-size: contain;
    left: -65px;
  }
  .pricing-component {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .pricing-component .card {
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
  }
  .pricing-component .card.bg-primary {
    width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    padding: 30px;
  }
  .pricing-component .card.bg-primary .btn {
    font-size: 90%;
  }
  .pricing-component .card:last-child {
    margin-bottom: 0;
  }
  footer .footer-text {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */